<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" executionTimeout="240" maxRequestLength="20480" />

		<authentication mode="Forms" >
			<forms name="web_petnarrative" loginUrl="~/security/login.aspx" defaultUrl="~/story" protection="All" timeout="2000000" path="/">
			</forms>
		</authentication>
		<authorization>
			<allow users="*" />
		</authorization>
		<customErrors mode="On" defaultRedirect="~/error.aspx">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>

	</system.web>
	<connectionStrings>
		<add name="db_petnarrative" connectionString="Server=(local);Database=db_petnarrative;Trusted_Connection=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="int_database_timeout__second" value="180" />
		<add key="subweb" value="web_service_lifecycle"/>
		<add key="str_pk_person_user__default" value="D7EF7FD0-E800-49C4-909C-5E68BDEEA8B0"/>
		<add key="list_row_maximum" value="1000"/>
		<add key="default_page_size" value="12"/>
		<add key="default_page_size_child" value="4"/>
		<add key="default_dropdown_all_text" value="(All)"/>
		<add key="default_dropdown_all_value" value=""/>
		<add key="default_dropdown_none_text" value="(None)"/>
		<add key="default_dropdown_none_value" value=""/>
		<add key="textbox_row_height" value="24"/>
		<add key="audit_exclude_table_list" value="tbl_person__fake_table, tbl_person__fake_table_02"/>
		<add key="audit_exclude_column_list" value="update_date,insert_date,fk_action,fk_lkp_link_type,link_text"/>
		<add key="int_disable_sql_audit" value="0"/>
		<add key="int_disable_sql_audit__insert" value="0"/>
		<add key="int_disable_sql_audit__update" value="0"/>
		<add key="int_disable_sql_audit__delete" value="0"/>
		<add key="int_enable_dynamic_remove_unedited" value="1"/>
		<add key="int_enable_dynamic_regex_datatype" value="1"/>
		<add key="int_enable_dynamic_regex_length" value="0"/>
		<add key="int_enable_dynamic_regex_specific" value="1"/>
		<add key="int_audit_top_limit__table" value="100"/>
		<add key="int_audit_top_limit__column" value="10"/>
		<add key="int_show_audit_override_role" value="1"/>
		<add key="str_update_date_column_name" value="update_date"/>
		<add key="str_update_user_column_name_pk" value="fk_person_user__update"/>
		<add key="str_update_user_column_name" value="update_user"/>
		<add key="str_insert_date_column_name" value="insert_date"/>
		<add key="str_insert_user_column_name_pk" value="fk_person_user__insert"/>
		<add key="str_insert_user_column_name" value="insert_user"/>
		<add key="bln_disable_logical_delete" value="0"/>
		<add key="cls_dynamic_sql_debug" value="1"/>
		<add key="administration_database_password" value="x"/>
		<add key="str_date_format" value="MM/dd/yyyy"/>
		<add key="default_hover_text" value="(n/e)"/>
		<add key="reporting_server" value="reporting.[site].com/"/>
		<add key="username_prefix_text" value="Welcome, "/>
		<add key="not_signed_in__page_header" value="Guest - Readonly - Sign Up or Logon!"/>
		<add key="not_signed_in__button_row" value="Guest - Readonly Access - Sign Up or Logon!"/>
		<add key="application_name" value="Service Lifecycle"/>
		<add key="child_add_row_count" value="6"/>
		<add key="str_message__forgot_password__found" value="Your customer service request (account information) has been processed."/>
		<add key="error_class__ctl" value="error-class--ctl"/>
		<add key="email_smtp_server" value="127.0.0.1"/>
		<add key="email_from" value="[site]@[site].com"/>
		<add key="email_update_from" value="[site]@[site].com"/>
		<add key="email_update_to" value="[site]@[site].com"/>
		<add key="email_delimiter" value="; "/>
		<add key="int_enable_immediate_email" value="1"/>
		<add key="bln_disable_log_security" value="0"/>
		<add key="bln_disable_log_session" value="0"/>
		<add key="bln_swap_email" value="0"/>
		<add key="str_email_swap_to" value="dev@[site].com"/>
		<add key="str_email_swap_cc" value=""/>
		<add key="str_email_swap_bcc" value="phil_lertora@hotmail.com; rlertora@yahoo.com"/>
		<add key="str_lkp_admin_exclude_list" value="tbl_lkp_friendly_message, tbl_lkp_customer_external_id, tbl_lkp_customer_person_type, tbl_lkp_customer_type"/>
		<add key="int_email_error_log_severity" value="2"/>
		<add key="str_error_email_to_list" value="dev@[site].com;"/>
		<add key="str_audit_old_value_display__insert" value="[inserted]"/>
		<add key="str_audit_old_value_display__update__empty" value="[empty]"/>
		<add key="str_data_container_name" value="plc_data__all"/>
	</appSettings>

</configuration>
